<div class="container">
    <h2 class="reactiveform">Product</h2>
    <hr>
    <div class="flex justify-content-end" style="margin-bottom: 10px;">
        <button class="table-button" routerLink="new-product">New</button>
    </div>

    <p-table [value]="productData" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th style="width: 100px;">Update</th>
                <th style="width: 100px;">Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{ product.price }}</td>
                <td><p-button label="Update" styleClass="p-button-sm" (click)="updateProduct(product.id)"
                        [routerLink]="'update-product/' + product.id"></p-button></td>
                <td>
                    <div class="card flex justify-content-center gap-2">
                        <p-toast></p-toast>
                        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                        <p-button (click)="confirm(product.id)" label="Delete" class="p-button-danger"
                            styleClass="p-button-sm p-button-danger"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<router-outlet></router-outlet>